html, body {
    background-color: #27374D;
    margin: 0;
    padding: 0;    
}


/* The Menu */
nav {
    margin: 0;
    width: 100%;
    background-color: #526D82;
    display: flex;
    justify-content: space-around;
    position: fixed;
}


.unselectedMenuItem {
    text-decoration: none;
    color: #9DB2BF;
}


.unselectedMenuItem:hover {
    color: black;
}


.selectedMenuItem {
    text-decoration: none;
    color: #e8eef3;
    cursor: default;
    font-size: 1.6rem; 
}

