/* Common */
html, body {
    color: #9DB2BF;
    background-color: #27374D;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    
}

main {
    width: 80%;
    margin: 0 auto;
}


/* The Menu */
nav {
    margin: 0;
    width: 100%;
    background-color: #526D82;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.unselectedMenuItem {
    text-decoration: none;
    color: #9DB2BF;
}

.unselectedMenuItem:hover {
    color: black;
}

.selectedMenuItem {
    text-decoration: none;
    color: #e8eef3;
    cursor: default;
    font-size: 1.6rem; 
}

/* The Sections */

section {
    margin-top: 80px;
    border-radius: 0.5rem;
    border: 4px solid #9DB2BF;
    padding: 0 1rem;
}

.sectionHeading {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
}

.sectionIntro {
    border-top: 1px solid #9DB2BFAA;
    border-bottom: 1px solid #9DB2BFAA;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin: 1rem;
}

.sectionProjects {
    display: flex;
}

.sectionCard {
    width: 40%;
    margin: 1rem;
    text-align: center;
}

.sectionCard img {
    display: inline-block;
    max-width: 100%;
}

.sectionCard img:hover {
    box-shadow: 3px 3px black;
}

.sectionCard p {
    text-align: left;
}
