/* Common */
html, body {
    color: #9DB2BF;
    background-color: #27374D;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

main {
    width: 80%;
    margin: 0 auto;
}


/* The Menu */
nav {
    margin: 0;
    width: 100%;
    background-color: #526D82;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.unselectedMenuItem {
    text-decoration: none;
    color: #9DB2BF;
}

.unselectedMenuItem:hover {
    color: black;
}

.selectedMenuItem {
    text-decoration: none;
    color: #e8eef3;
    cursor: default;
    font-size: 1.6rem; 
}

/* The Sections */

.bookmark {
    margin-top: 80px;
}

section {
    margin-top: 80px;
    border-radius: 0.5rem;
    border: 4px solid #9DB2BF;
    padding: 0 1rem;
    min-width: 500px;
}

.sectionHeading {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
}

.sectionIntro {
    border-top: 1px solid #9DB2BFAA;
    border-bottom: 1px solid #9DB2BFAA;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin: 1rem;
}

.sectionIntro.lexicon {
    text-align: center;
    font-size: 1.1em;
    padding: 0.5em;
}

.sectionProjects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sectionCard {
    width: 40%;
    min-width: 350px;
    margin: 1rem;
    text-align: center;
}


/* Images should have a width of 960px and a height of 540px */
/* I might need to make these smaller */
.sectionCard img {
    display: inline-block;
    width: 100%;
}

.sectionCard img:hover {
    /* box-shadow: 2px 2px darkgray; */
    border: 1px solid darkgray;
}

.sectionCard p {
    text-align: left;
}
